{% extends "base.html" %}

{% block title %} | About{% endblock title %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/css/about.css" />
{% endblock %}

{% block content %}
    <h1>About This Site</h1>
    <h2>Purpose</h2>
    <p>This site was made to help students who like to save money when purchasing their textbooks. The official online store claims to save students money by selling used books. However, these books are often still overpriced or out of stock and there's no guarantee that the book is in good condition.</p>
     <p>The Knight Book Market provides a place for students to easily buy and sell used textbooks. Here, students can often purchase books at a lower prices than at the official bookstore. Since the students are buying books directly from their peers, no money is lost to the corporate middle man.</p>
     <h2>Why the Knight Book Market?</h2>
         <h3>Buyers</h3>
         <ul>
            <li>You save lots and lots of money.</li>
            <li>You don't have to pay (or wait) for shipping.</li>
            <li>You can check out the book's condition before actually buying it whereas the official bookstore will ship it randomly.</li>
            <li>You get your books early so you can start your summer assignments in advance. :P</li>
            <li>There's no rush. You have all summer to get your books, and whatever you can't find here can still be bought at the official bookstore.</li>
            <li>There's no tax (unless your seller is a jerk).</li>
        </ul>
        <h3>Sellers</h3>
        <ul>
            <li>Students will buy your books for more than the official buy back program.</li>
            <li>You don't have to carry all of your books at once to school on book buy back day. You can make the exchange with your book's purchaser whenever you like.</li>
            <li>You get your money immediately. No waiting for a check in the mail.</li>
            <li>You get all of the money. None of it goes to this site or anyone else (unless you want to be awesome and <a href="/donate/">make a donation</a>).</li>

         </ul>
    <h2>A few words of warning...</h2>
        <ul>
            <li>Buying a book from a friend through here may get you the wrong version. Although this site is for your convenience, please do your research and make sure that you have the right version online.</li>
            <li>These purchases are probably not tax deductible. If anyone asks, you "gave" them a book, and they "gave" you money.</li>
            <li>You can't buy new books for cheapy here. If you want that, go to Amazon, eBay or something.</li>
        </ul>
    <h2>Legal and technical stuff</h2>
    <p>This site was created using <a href="http://dev.w3.org/html5/spec/Overview.html">HTML5</a>, <a href="http://www.css3.info/">CSS3</a>, <a href="http://www.python.org/">Python</a>, and <a href="https://www.djangoproject.com/">Django</a>. The source code for this website can be found on <a href="https://github.com/ianonavy/The-Knight-Book-Market">GitHub</a>. Hosted with <a href="http://www.dotcloud.com/">DotCloud</a>.
    <h3>Licensing</h3>
    <p>The Knight Book Market is written, released and distributed under the MIT license:</p>
    <p class="license">Copyright © 2012 by Ian Adam Naval</p>
    <p class="license">Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
    <p class="license">THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
    <h3>Disclaimers</h3>
    <ul>
      <li>Any user-submitted copyrighted content on this site was submitted with the sole responsibility of the user. Under this site's <a href="/terms/#tos">Terms of Service Agreement</a>, neither the Knight Book Market nor its suppliers can be held responsible for any copyright violations. The content, though hosted on this site, is copyright its owners and the Knight Book Market makes no claim of ownership over it.</li>

      <li>Amazon, eBay, W3, Django Software Foundation, Python Software Foundation, and DotCloud are not affiliated with this site. No copyright infringement intended.</li>
    </ul>
{% endblock content %}