{% load url from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us"}}" class="no-js">
<head>
    <meta charset="UTF-8" />
    <title>The Knight Book Market{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}/static/css/base.css{% endblock %}" />
    <link href='http://fonts.googleapis.com/css?family=Yellowtail|Nobile' rel='stylesheet' type='text/css' />
    <link href="{{ STATIC_URL }}css/facebook.css" type="text/css" rel="stylesheet" media="all" />
    {% block extrastyle %}{% endblock %}
    
    <script src="/static/js/lib/modernizr-2.0.6.js" type="text/javascript"></script>
    <script src="/static/js/html5.js" type="text/javascript"></script>
    {% block extrahead %}{% endblock %}
</head>
<!--[if lt IE 9]><p>Sorry, your browser is not supported! Please try using a different browser such as <a href="http://www.google.com/chrome">Google Chrome</a> or <a href="http://www.getfirefox.com/">Mozilla Firefox</a>. If you really want to stick with Internet Explorer, please <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home"> upgrade your browser</a> to at least IE 9.</p><![endif]-->

{% block body %}
<body class="{% block bodyclass %}{% endblock %} {% if user and user.is_active %}user{% else %}guest{% endif %}">

    {% block header %}
    <div id="header">
        <div id="links">&nbsp;{% block links %}
        {% if user and user.is_active %}
            <p>Logged in as {{ user.first_name }} {{ user.last_name }}</p>
            <a href="/account/">Account</a>
            <a href="/logout/">Log Out</a>
        {% else %}
            <a href="/signup/">Sign Up</a>
            <a href="/login/">Log In</a>
        {% endif %}{% endblock links %}
        </div>
        <div id="logo">
            <a href="/">the Knight Book Market</a>
        </div>
    </div>
    {% endblock header %}

    {% block main %}
    <div id="main" class="row">
        <div class="column">
        {% block content %}
        {{ content }}
        {% endblock %}
        </div>
    </div>
    {% endblock main %}

    <!--{% block ad %}<div id="ad" class="row section"><img src="https://www.google.com/adsense/static/en_US/images/728x15_4.gif" alt="AdSense placeholder" /></div>{% endblock ad%}-->

    {% block footer %}
    <div id="footer">
        <div id="copyright">Copyright &copy; 2012 <a href="http://www.ianonavy.com/">Ian Adam Naval.</a> All rights reserved.</div>
        <div id="footer-nav">
            <a href="/">Home</a> |
            <a href="/about/">About Us</a> |
            <a href="/contact/">Contact</a> |
            <a href="/report/">Report</a> |
            <a href="/terms/#tos">Terms</a> |
            <a href="/terms/#privacy">Privacy</a>
            {% if user.is_staff %}| <a href="/admin/">Administration</a>{% endif %}
        </div>
        <p>This site is affiliated neither with Notre Dame High School nor MBS Direct. If this site helped you, please consider <a href="/donate/">making a donation</a>. Web sites are not free.</p>
    </div>
    {% endblock footer %}

    <script src="/static/js/lib/jquery-1.6.2.js" type="text/javascript"></script>
    <script src="/static/js/lib/jquery-placeholder.js" type="text/javascript"></script>
    <script type="text/javascript">
        if ($.browser.webkit) $("section *").css({opacity:0});
        $('input[placeholder],textarea[placeholder]').placeholder();
    </script>
    {% block extrascript %}{% endblock %}
    <!--<script type="text/javascript" src="http://konami-js.googlecode.com/svn/trunk/konami.js"></script>
    <script type="text/javascript">
        konami = new Konami();
        konami.code = function() { alert("You have entered the KONAMI CODE! You now have 30 lives. Kinda.") }
        konami.load();
    </script>-->
    <script type="text/javascript">
        $(document).ready(function() {
            if ($.browser.webkit)
                $("section *").animate({opacity:1}, {% block fadespeed %}500{% endblock %});
        });
    </script>

</body>
{% endblock body %}

</html>
