    <h2>Important Notes and Disclaimers (Please read them all. Seriously.)</h2>
    <ul>
        <li>All actual transfer of money and books is done directly between the students.</li>
        <li>Any contact information the seller provides is automatically sent to the buyer whose offer you pick.</li>
        <li>Your full name will be displayed on any page you make an offer to buy or sell a book.</li>
        <li>Your email will be used for us to contact you regarding this site (e.g. password changes, etc.).</li>
        <li>Your phone number, if provided by you, will be used only for other users to contact you regarding a sale.</li>
    </ul>