{% extends "base.html" %}

{% block title %} | Donate{% endblock title %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
{% endblock %}

{% block content %}
    <h1>Donations</h1>
    <p>Yes! We do take donations. You are in no way shape or form obligated to give a dime to this site, but it helps a lot. This site won't be free to put on the Internet forever, so any donation will help. Besides, we helped you save quite a bit of money, so we're certain you could spare a dollar or two (or ten).</p>
    <p>If you would like to donate to the creator of this website, please find <a href="http://www.facebok.com/ianaval">Ian Adam Naval</a> somewhere on campus, or drop him a message on Facebook.</p>
{% endblock content %}