{% extends "base.html" %}

{% block title %} | Log In{% endblock title %}

{% block links %}{% endblock links %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
{% endblock %}

{% block extrahead %}
    {% include 'django_facebook/_facebook_js.html' %}
{% endblock %}

{% block content %}
        {% if error %}<div class="error_box">{{ error }}</div>{% endif %}
        <form action="/login/{{ key }}{% if next %}/?next={{ next }}{% endif %}" method="POST">{% csrf_token %}
            <label>Username: <input type="text" name="username" id="username" value="{{ username }}" /></label>
            <label>Password: <input type="password" name="password" id="password" /></label>
            <a href="/account/reset/">Forgot Password</a>
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="submit" value="Log in" />
        </form>
        <form action="{% url facebook_connect %}?facebook_login=1" method="post">
	    <a href="javascript:void(0);" onclick="F.connect(this.parentNode);"><img src="{{ STATIC_URL }}img/facebook_signin.png" /></a>
	    <input type="hidden" value="{{ request.path }}" name="next" />
	</form>
	{% if noverify %}<a href="/signup/resend_key/{{ username }}">Resend Activation Key</a><br />{% else %}
	<a href="/signup/">Sign up</a>{% endif %}
{% endblock content %}