#main, #past {
    text-align: center;
}

#past {
    padding: 2em;
}

#headline {
    margin: 0 0 1em 0;
    font-size: 2.5em;
    font-family: 'Volkhov', serif;
}

#buy, #sell {
    width: 256px;
    padding: 8px 0;
    margin: 8px 16px;
    font-size: 4em;
    margin: 0 .25em .5em .25em;
}

.flash {
    background-color: #cfc;
    border: #0c0 solid 2px;
    margin: 0 0 1em;
    padding: .75em;
    font-size: 1.5em;
    color: #0c0;
    text-align: center;
}

table {
    width: 100%;
}

table tr:first-child {
    font-weight: bold;
}

.title {
    font-style: italic;
}

.button {
    width: 10em;
}

.not_highest {
    color: #f00;
}

#sold a, #bought a {
    visibility: hidden;
}

table {
    border-collapse: collapse;
}

